body {
  width: 100%;
  height: 100vh;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.navbar .searchbar {
  width: 180px !important;
}
.navbar,
.navbar .navbar-brand img {
  width: 100%;
  height: 60px;
}
.navbar-toggler {
  outline: none !important;
}
.bg-dark {
  background: black !important;
}

/* Slider */
.carousel-item {
  height: 600px;
  position: relative;
  background: #000;
}
.carousel-inner .carousel-item .img-fluid {
  width: 80%;
  background-size: cover !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* .title-color, .lead {
    color: black;
}
.btn-color {
    background-color: black;
    color: gray;
}
.btn-color:hover {
    color: #fff;
}
.slide-btn:hover,
.slide-btn:focus,
.slide-btn:active {
    animation: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes slide-btn {
    16% {
        transform: translateY(8px);
    }
    33% {
        transform: translateY(-6px);
    }
    50% {
        transform: translateY(4px);
    }
    65% {
        transform: translateY(-2px);
    }
    85% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0px);
    }
}
.slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
} */

/* Shop by Category */
.products {
  background: #000;
}
.product-title {
  color: #fff;
}
.single-item,
.item {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(247, 241, 241);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}
.single-item::before,
.item::before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(248, 248, 248, 0.35) 0%,
    rgba(247, 244, 244, 0) 80%
  );
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
.single-item:hover,
.single-item:focus,
.single-item:active,
.item:hover,
.item:focus,
.item:active {
  transform: translateY(-5px);
}
.single-item:hover::before,
.single-item:focus::before,
.single-item:active::before,
.item:hover,
.item:focus,
.item:active {
  opacity: 1;
  transform: translateY(5px);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.img-container {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.img-container:hover,
.latest-img:hover,
.latest-img:focus,
.latest-img:active {
  box-shadow: 1px 0px 1px 4px rgba(247, 243, 243, 0.9);
  transform: scale(1.1);
}
.footer {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  ) !important;
}
.footer h5,
.footer h2 {
  text-align: center;
  font-size: 26px;
  color: #fff;
}
.footer h1 {
  color: #fff;
  text-align: left !important;
}
.footer ul li {
  text-align: center;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.latest {
  background: #000;
}
.item img {
  height: 250px !important;
}
.services p {
  text-align: center;
}

.products-page {
  /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9))!important; */
  background: #fff !important;
}
.products-page .product-title {
  color: #000 !important;
}
#filters h1 {
  font-size: 30px;
  color: #000;
}

.products .prod-slider {
  background: #fff !important;
}
.categories .prod-category card-body {
  height: 100px !important;
}

/* cart page */
.cart .cart-item {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
}
.cart-item {
  color: #fff;
}
.order-summary {
  color: #000 !important;
}
.cart .quantity-button button {
  background-color: #fff;
  text-decoration: none;
}

/* Checkout page */
.checkout-form {
  background: white;
  color: black;
}
.order-summary .list-group .list-group-item {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  color: white;
}
.checkout {
  background: rgba(0, 0, 0, 0.3);
}
.checkout-form button a,
.confirmation button a,
.cart button a {
  text-decoration: none;
  color: white;
}
.cart .checkout-btn button {
  font-size: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.about .about-img {
  width: 100%;
  margin: 10px;
  border-radius: 10px;
}
.about p {
  font-size: 20px;
  text-align: justify;
}
.categories .box {
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
  transition-property: box-shadow;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.categories .box:hover,
.categories .box:focus,
.categories .box:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}
.contact-form {
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.7);
}

.search-page .searchbar input {
  width: 80% !important;
}

.search-page .searched-items ul li .row {
  border-radius: 12px;
}
.search-page .searched-items ul li:nth-child(even) .row {
  background-color: rgba(0, 0, 0, 0.2);
}
.search-page .searched-items ul li:nth-child(odd) .row {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar .search-icon {
  color: rgb(243, 231, 231);
  padding-right: 10px;
}

.quantity-btn {
  height: 35px;
  margin: 10px;
}

/* Scroll-to-top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
